<header class="sticky-top">
    <nav class="navbar navbar-light bg-white">
        <a
            class="navbar-brand"
            [routerLink]="['']">
                ALURAPIC
        </a>
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{ user.name.toUpperCase() }}</a>
            <a (click)="logout()">(Logout)</a>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']">Faça Login</a>
            </span>
        </ng-template>
    </nav>

    <div class="fixed-top container mt-4">
        <ap-alert></ap-alert>
    </div>
    
</header>