<h1>Cadastrar novo usuário</h1>

<form action="/create" method="POST">
	<label for="name">
		Nome:
		<input id="name" name="name" type="text" placeholder="Digite o nome completo">
	</label>
	<button type="submit">Salvar</button>
</form>
<a href="/">Lista de usuários</a>
