<html>
<head>
    <meta charset="UTF-8">
    <title>Servidor NodeJS</title>
</head>
<body>
    <h1>Atualizar livros</h1>

    <form>
        <p>Selecione o livro que deseja alterar:</p>
        <select id="id">
            <option for(livro in data.livros)
                value="${livro.id}">
                ${livro.titulo}
            </option>
        </select>

        <input type="button" value="Alterar" onclick="atualiza()" />
    </form>
    <script>
        function atualiza() {
            const campo = document.querySelector('#id');
            const id = campo.options[campo.selectedIndex].value;
            window.location = '/livros/atualiza/' + id;
        }
    </script>
</body>
</html>