<div class="bg-white border" *ngIf="(photo$ | async) as photo">
    <div class="container">
        <div class="row my-3">
            
            <div class="col-lg-8">
                <ap-photo [url]="photo.url" [description]="photo.description"></ap-photo>
            </div>
            
            
            <div class="col-lg-4">
                <small>
                    <p class="text-left break-word">{{photo.description}}</p>
                </small>
                
                
                <div class="text-left mb-2">
                    <i (click)="like(photo)" ShowIfLogged class="fa fa-heart-o mr-3"> {{ photo.likes }} </i>
                    <i class="fa fa-comment-o mr-3"> {{ photo.comments }} </i>
                    <i
                        photoOwnerOnly
                        [ownerPhoto]="photo"
                        (click)="remove()"
                        class="fa fa-trash-o fa-2x pull-right">
                    </i>
                </div>
                <hr>
                <ap-photo-comments
                    (commented)="updateStatus(photo.id)"
                    *ngIf="photo.allowComments; else warning"
                    [photoId]="photoId">
                </ap-photo-comments>
                
                <ng-template #warning>
                    <p>Usuário não permite comentários!!!</p>
                </ng-template>
                
            </div>
        </div>
    </div>
</div>