<div class="bg-white border" *ngIf="(photo$ | async) as photo">
    <div class="container">
        <div class="row my-3">
            
            <div class="col-lg-8">
                <ap-photo [url]="photo.url" [description]="photo.description"></ap-photo>
            </div>
            
            
            <div class="col-lg-4">
                <h6>Descrição:</h6>
                <small>
                    <p class="text-left break-word">{{photo.description}}</p>
                </small>
                
                <hr>
                <ap-photo-comments
                    *ngIf="photo.allowComments; else warning"
                    [photoId]="photoId">
                </ap-photo-comments>

                <ng-template #warning>
                    <p>Usuário não permite comentários!!!</p>
                </ng-template>
                
            </div>
        </div>
    </div>
</div>