#sessao-formulario .titulo-sessao {
	color: #ef7247;
	font-weight: bold;
}

#sessao-formulario form {
	font-size: 1.2em;
}

#sessao-formulario label {
	font-weight: bold;
}

#campo-nome,
#campo-email {
	display: block;
	box-sizing: border-box;
	width: 100%;
	font-size: 1.4em;
	margin: 8px 0;
	padding-left: .2em;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 0 0 10px #48a3a6;
}

.container-button {
	text-align: center;
}

.container-button button {
	text-transform: uppercase;
	padding: 1.2em 2em;
	background-color: #48a3a6;
	color: #FFF;
	border-radius: 10px;
	font-size: 100%;
	margin-top: 10px;
}