/*================== TABULEIRO DO JOGO ====================*/

#reiniciar-jogo {
	font-size: .8em;
	text-transform: uppercase;
	color: #F33; font-weight: bold;
	padding: .5em; border: 0;
	border-radius: 5px;
	background: #CCC;
	margin-top: .8em;
}

#palco-jogo{
	margin: 0 auto;
	text-align: center;
	position: relative;
}

#palco-jogo span {
	font-size: .3em;
	box-sizing: border-box;	
	padding: .1em; margin: .1em 0;
	border-radius: 10px;
	width: 100%;
	text-transform: uppercase;
	display: block;
}

/*posicionar imagens no topo*/
#palco-jogo div {
	display: inline-block;
	position: absolute;
	top: 0;
}
#jogador-1 {
	left: calc(50% - 50px);
}
#jogador-2 {
	left: calc(50% + 10px);
}

/*tamanho das imagens de cada jogados*/
#palco-jogo img, #palco-jogo div {
	text-align: center;
	width: 40px;
}

.jogada-1 {
	background: url(../imagens/marcacao_1.png) no-repeat;
	background-position: center;
}

.jogada-2 {
	background: url(../imagens/marcacao_2.png) no-repeat;
	background-position: center;
}

.jogador-esperando {
	opacity: .2;
}

#resultado {
	font-size: 10px;
	color: green;
	text-shadow: 0 0 7px green;
	text-transform: uppercase;
	text-align: center;
	margin-top: .5em;
}

.final {
	text-align: center;
}

table {
	display: inline-block;
	margin-top: 60px;
	text-align: center;
}

/*tamanho do jogo*/
td {
	box-sizing: border-box;
	width: 60px; height: 60px;
}

/*Pintar as linhas do jogo em vermelho*/
tr:nth-child(2) {
	border-top: 2px solid red;
	border-bottom: 2px solid red;
}
td:nth-child(2), td:nth-child(5), td:nth-child(8) {
	border-right: 2px solid red;
	border-left: 2px solid red;
}

@media (min-height: 500px) and (max-width: 599px){
	/*tamanho das imagens de cada jogados*/
	#palco-jogo img, #palco-jogo div {
		width: 75px;
	}
	#palco-jogo span {
		font-size: .5em;
	}
	/*posicionar imagens no topo*/
	#jogador-1 {
		left: calc(50% - 90px);
	}
	#jogador-2 {
		left: calc(50% + 10px);
	}
	table {
		margin-top: 100px;
	}
	/*tamanho do jogo*/
	td {
		box-sizing: border-box;
		width: 80px; height: 80px;
	}
}

/*telas com altura baixa*/
@media (min-width: 600px) {
	/*coloca as imagens ao lado do tabuleiro*/
	#palco-jogo div {
		position: relative;
	}
	#jogador-1, #jogador-2 {
		left: 0; top: 0;
	}
	table {
		margin: 0 .2em;
	}
}
/*telas com altura maior*/
@media (min-height: 500px) and (min-width: 600px) {
	h1 {
		font-size: 1em;
		margin: .3em 0;
	}
	#reiniciar-jogo {
		font-size: 1em;
		padding: .5em;
		border-radius: 10px;
		margin-top: 1em;
	}
	#resultado {
		font-size: 15px;
		text-shadow: 0 0 10px green;
		margin-top: .7em;
	}
	
	#palco-jogo img, #palco-jogo div {
		width: 80px;
	}
	#palco-jogo span {
		font-size: .5em;
	}

	/*tamanho do jogo*/
	td {
		width: 80px; height: 80px;
		box-sizing: border-box;
	}
}

/*telas com altura baixa*/
@media (min-width: 992px) {
	/*coloca as imagens ao lado do tabuleiro*/
	#palco-jogo div {
		position: relative;
	}
	#jogador-1, #jogador-2 {
		left: 0; top: 0;
	}
	table {
		margin: 0 .2em;
	}
}
/*telas com altura maior*/
@media (min-height: 500px) and (min-width: 992px) {
	h1 {
		font-size: 1.5em;
		margin: .5em 0;
	}
	#reiniciar-jogo {
		font-size: 1em;
		padding: .5em;
		border-radius: 10px;
		margin-top: 1em;
	}
	#resultado {
		font-size: 20px;
		text-shadow: 0 0 15px green;
		margin-top: 1em;
	}
	
	#palco-jogo div, #palco-jogo img {
		width: 150px;
	}
	#palco-jogo span {
		font-size: 1em;
	}

	table {
		margin: 0 1em;
	}

	/*tamanho do jogo para dispositivos maiores*/
	td {
		width: 120px; height: 120px;
		box-sizing: border-box;
	}
}